.page {
    margin: 0;
    padding: 0;
}

.layout {
    &__2col {
        display: flex;
        margin-bottom: 10px;
    }

    &__col:first-child {
        margin-right: 8px;
    }

    &__col:last-child {
        margin-left: 7px;
    }
}

.sub-panel {
    background-color: $color-background-faded;
    margin: 0 8px;
    padding: 24px 14px;
    border-radius: 0px 0px 8px 8px;

    &__title {
        margin: 0 0 15px;
    }
}