/* colour pallete */
$color-brand: #316EEF;
$color-accent: #1F58D2;
$color-border: #BBBCBC;
$color-divider: #ddd;

$color-background: #fff;
$color-background-dark: #ddd;
$color-background-faded: #FBFBFB;
$color-background-light: #fff;
$color-background-highlight: #1B3979;

$color-base-black: #000;
$color-base-black-light: #2E2F2F;

/* shortcuts for breakpoints */
$bp-xs: 560px;
$bp-s: 768px;
$bp-m: 1024px;
$bp-l: 1240px;

/* fonts */


$typeface-main:  'Graphik', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$typeface-secondary: 'Helvetica Neue', Arial, Helvetica, sans-serif;
$typeface-highlight: 'Publico Banner', 'Times New Roman', Times, serif;

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Black.woff2') format('woff2'),
        url('fonts/Graphik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Extralight.woff2') format('woff2'),
        url('fonts/Graphik-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Light.woff2') format('woff2'),
        url('fonts/Graphik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-ExtralightItalic.woff2') format('woff2'),
        url('fonts/Graphik-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Bold.woff2') format('woff2'),
        url('fonts/Graphik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-BoldItalic.woff2') format('woff2'),
        url('fonts/Graphik-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-BlackItalic.woff2') format('woff2'),
        url('fonts/Graphik-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-LightItalic.woff2') format('woff2'),
        url('fonts/Graphik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Medium.woff2') format('woff2'),
        url('fonts/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-MediumItalic.woff2') format('woff2'),
        url('fonts/Graphik-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Super.woff2') format('woff2'),
        url('fonts/Graphik-Super.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-SuperItalic.woff2') format('woff2'),
        url('fonts/Graphik-SuperItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Thin.woff2') format('woff2'),
        url('fonts/Graphik-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-RegularItalic.woff2') format('woff2'),
        url('fonts/Graphik-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-SemiboldItalic.woff2') format('woff2'),
        url('fonts/Graphik-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Regular.woff2') format('woff2'),
        url('fonts/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-ThinItalic.woff2') format('woff2'),
        url('fonts/Graphik-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Semibold.woff2') format('woff2'),
        url('fonts/Graphik-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Banner';
    src: url('fonts/PublicoBanner-Black.woff2') format('woff2'),
        url('fonts/PublicoBanner-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Banner';
    src: url('fonts/PublicoBanner-BoldItalic.woff2') format('woff2'),
        url('fonts/PublicoBanner-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Banner Roman';
    src: url('fonts/PublicoBanner-Italic.woff2') format('woff2'),
        url('fonts/PublicoBanner-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Banner';
    src: url('fonts/PublicoBanner-LightItalic.woff2') format('woff2'),
        url('fonts/PublicoBanner-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Banner';
    src: url('fonts/PublicoBanner-ExtraboldItalic.woff2') format('woff2'),
        url('fonts/PublicoBanner-ExtraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Banner';
    src: url('fonts/PublicoBanner-BlackItalic.woff2') format('woff2'),
        url('fonts/PublicoBanner-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Banner';
    src: url('fonts/PublicoBanner-Extrabold.woff2') format('woff2'),
        url('fonts/PublicoBanner-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Banner';
    src: url('fonts/PublicoBanner-Light.woff2') format('woff2'),
        url('fonts/PublicoBanner-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Banner';
    src: url('fonts/PublicoBanner-Bold.woff2') format('woff2'),
        url('fonts/PublicoBanner-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Banner Ultra';
    src: url('fonts/PublicoBanner-Ultra.woff2') format('woff2'),
        url('fonts/PublicoBanner-Ultra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Banner Roman';
    src: url('fonts/PublicoBanner-Roman.woff2') format('woff2'),
        url('fonts/PublicoBanner-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Banner';
    src: url('fonts/PublicoBanner-Medium.woff2') format('woff2'),
        url('fonts/PublicoBanner-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Banner Ultra';
    src: url('fonts/PublicoBanner-UltraItalic.woff2') format('woff2'),
        url('fonts/PublicoBanner-UltraItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Banner';
    src: url('fonts/PublicoBanner-MediumItalic.woff2') format('woff2'),
        url('fonts/PublicoBanner-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

