/* colour pallete */
$color-brand: #316EEF;
$color-accent: #1F58D2;
$color-border: #BBBCBC;
$color-divider: #ddd;

$color-background: #fff;
$color-background-dark: #ddd;
$color-background-faded: #FBFBFB;
$color-background-light: #fff;
$color-background-highlight: #1B3979;

$color-base-black: #000;
$color-base-black-light: #2E2F2F;

/* shortcuts for breakpoints */
$bp-xs: 560px;
$bp-s: 768px;
$bp-m: 1024px;
$bp-l: 1240px;

/* fonts */


$typeface-main: 'Helvetica Neue', Arial, Helvetica, sans-serif;
$typeface-secondary: Graphik, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$typeface-highlight: Publico, 'Times New Roman', Times, serif;